@import './bower_components/normalize-scss/_normalize.scss';

$purple: rgb(71, 21, 57);
$purple-dark: rgb(48,20,41);

$navy: rgb(21, 47, 71);
$navy-dark: rgb(20,34,49);

$aqua: rgb(55, 255, 176);
$aqua-dark: rgb(28,215,145);

$coral-light: rgb(255,102,82);
$coral: rgb(255, 75, 55);

$white: rgb(255, 255, 255);
$gray-light: rgb(232,232,232);
$gray-medium: rgb(126,128,126);
$gray-dark: rgb(25, 22, 26);

$font-primary: "proxima-nova", "Helvetica", "Arial", sans-serif;

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

img, iframe { max-width: 100%; }

body {
  background: $purple;
  color: $white;
  @media (min-width: 540px){
    font-size: 18px;
  }
}


h1 {
  color: $white;
  text-transform: uppercase;
  text-shadow: 0.025em 0.025em 0 rgba(0,0,0,0.66);
  letter-spacing: 0.16666667em;
  font-size: 3em;
  font-family: $font-primary;
  line-height: 1;
  font-weight: 300;
}

h2 {
  color: $white;
  main & { color: $navy; }
  letter-spacing: 0.1em;
  font-size: 2.5em;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1;
}

h3 {
  color: $coral;
  font-size: 1.75em;
  font-family: $font-primary;
  line-height: 1;
  font-weight: 700;
  &.alt { color: $aqua; }
}

p {
  font-size: 1em;
  font-family: $font-primary;
  line-height: 1.5em;
}

ul, li {
  font-family: $font-primary;
  line-height: 1.5em;
}

a {
  color: $coral;
  text-decoration: none;
  &:hover {
    color: $aqua;
    text-decoration: underline;
  }
}

mark {
  background: $aqua;
  color: $navy;
}

cite {
  font-family: $font-primary;
}

fieldset {
  border: .1875em solid $purple-dark;
  legend { font-family: $font-primary; }
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.1875em solid transparent;
  color: $white;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: normal;
  font-size: 1em;
  font-family: $font-primary;
  line-height: 1em;
  cursor: pointer;

  touch-action: manipulation;
  user-select: none;

  &.btn-default {
    background: $coral;
    &:hover {
      background: $white;
      color: $coral;
    }
  }
  &.btn-alt {
    background: $aqua;
    color: $navy;
    &:hover {
      background: $white;
      color: $aqua;
    }
  }
  &.btn-alt-2 {
    background: $purple;
    &:hover {
      background: $coral;
      color: $white;
    }
  }
  &.btn-alt-3 {
    background: $navy;
    &:hover {
      background: $aqua;
      color: $white;
    }
  }
  &.btn-outline {
    border: 0.1875em solid $navy;
    background: transparent;
    color: $navy;
    &:hover {
      border-color: $aqua;
      color: $aqua;
    }
  }
  &.btn-outline-inverted {
    border: 0.1875em solid $coral;
    background: transparent;
    color: $coral;
    &:hover {
      color: $white;
      border-color: $white;
    }
  }
  &.btn-outline-inverted-alt {
    border: 0.1875em solid $aqua;
    background: transparent;
    color: $aqua;
    &:hover {
      color: $white;
      border-color: $white;
    }
  }
}



nav.main-navigation {
  background: $purple-dark;
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu-item {
    text-align: center;
    padding: 1em;
    &.menu-item-active {
      background: $navy;
      border-bottom: 3px solid $aqua;
    }
  }
  a {
    color: white;
  }
  @media (min-width: 540px){
    .menu-item { display: inline-block; }
  }
}

@keyframes background-move {
  0% { background-position: bottom center; }
  100% { background-position: top center; }
}

header {
  background-image: linear-gradient(45deg, $coral, $purple);
  padding: 0 5% 1em;
  position: relative;
  .single-episode &,
  .episodes-list & {
    padding: 1em 5%;
  }
  a { color: white; text-decoration: underline; }
  h1 { margin-top: 0; padding-top: 1em; }
}

header .content {
  @media (min-width: 820px){
    font-size: 120%;
    display: table-cell;
    width: 100%;
    vertical-align: bottom;
    padding-bottom: 3vh;
    .subscribe-info {
      font-size: 75%; width: 100%;
    }
  }
  @media (min-width: 1000px){
    padding-right: 25%;
    .subscribe-info {
      position: absolute;
      top: 1em;
      right: 1em;
      max-width: 300px;
      font-size: 60%;
    }
  }
  @media (min-width: 1200px){

  }
}

main {
  background: $white;
  color: $navy;
  padding: 0 5%;
  h2 {
    margin: 0;
    padding: 1em 0;
  }
}

.subscribe-info {
  padding: 1em;
  background: $navy-dark;
  font-size: 75%;
  h2 {
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
  }
  p:last-child { margin-bottom: 0; }
  &.newsletter-subscribe {
    text-align: center;
    padding: 1em;
    font-size: 100%;
    p { margin: 0; }
  }
}

article.episode {
  h3 {
    margin: 0 0 0.5em;
    padding: 0.5em 0;
  }
  p:nth-of-type(1) { margin-top: 0; }
  @media (min-width: 960px){
    &:not(.episode-exerpt){
      padding-right: 33.333333%;
    }
    position: relative;
    aside {
      width: 30%;
      max-width: 350px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      .btn { display: block; margin-bottom: 1em; }
      .single-episode &,
      .episodes-list & {
        top: 2em;
      }
    }
  }
  .single-episode &,
  .episodes-list & {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.video-container {
  position: relative;
  padding-bottom: 53.74%;
  padding-top: 30px;
  height: 0;
  overflow: auto;
  margin-bottom: 2em;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

article.episode.episode-exerpt {
  margin-bottom: 2em;
  font-size: 75%;
  .video-container {
    margin-bottom: 0;
    padding-bottom: 50%;
  }
}


.past-episodes {
  padding-bottom: 1em;
  @media (min-width: 600px){
    display: flex;
    flex-wrap: wrap;
    .episode {
      width: 50%;
      padding: 0 1%;
    }
  }
  @media (min-width: 960px){
    .episode {
      width: 33.333%;
    }
  }
}

.advertisement {
  margin-bottom: 1em;
}


footer[role=contentinfo]{
  padding: 0 5%;
}

.short-bio {
  margin: 2em auto;
  max-width: 750px;
  img {
    float: left;
    display: inline;
    margin: 0.3em 2% 0 0;
  }
}
